# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# -----------------BACKEND---------------------
# dependencies
backend/node_modules
backend/.pnp
.pnp.js


# testing
backend/coverage

# production
backend/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

backend/npm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*

# -----------------FRONTEND---------------------
# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js

# testing
frontend/coverage

# production
frontend/build

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# -----------------DOCS---------------------
# dependencies
docs/node_modules
docs/.pnp
docs/.pnp.js

# testing
docs/coverage

# production
docs/build

docs/npm-debug.log*
docs/yarn-debug.log*
docs/yarn-error.log*