.route-wrapper {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
}

.route-badge {
  color: white;
  display: inline-block;
  width: 80px;
  text-align: center;
  padding: 8px;
  font-weight: bold;
}

.route-badge-post {
  background-color: rgb(0, 182, 128);
}

.route-badge-get {
  background-color: rgb(0, 156, 222);
}

.route-badge-patch {
  background-color: rgb(100, 4, 135);
}

.route-badge-delete {
  background-color: rgb(255, 127, 39);
}

.route-path {
  margin-left: 30px;
  font-style: italic;
}
