// ===============================================================================================
//  File Name: account-settings.scss
//  Description: SCSS Layout for account settings page
// ================================================================================================

// positioning account settings section
.account-settings-tab {
  box-shadow: none;
  .nav-item {
    .nav-link.active {
      background-color: transparent !important;
      transform: translateY(0) !important;
      &:after {
        left: auto !important;
        top: 1.2rem !important;
        right: -1.5rem !important;
      }
    }
  }
}

.account-setting-wrapper {
  .account-settings-tab {
    .nav-item {
      .nav-link {
        &.active {
          &:after {
            top: 100% !important;
            left: 0 !important;
          }
        }
      }
    }
  }
}

// layout for wallet info view
.wallet-info-address {
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
}

// fix field length for wallet address
#address {
  width: 350px;
  margin-right: 10px;
}

#balance {
  margin-left: 10px;
}

@media (max-width: 576px) {
  // switch navbar for small devices
  .account-settings-tab {
    .nav-item {
      .nav-link.active {
        &:after {
          display: none;
        }
      }
    }
  }

  // switch view of address for small devices
  .wallet-info-address {
    display: block;
  }

  #address {
    margin-left: -25px;
    margin-bottom: 15px;
    width: 280px;
    font-size: 80%;
  }
}
