.invoice-box {
  max-width: 800px;
  padding: 30px;
  border: 1px solid #eee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  line-height: 24px;
  font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
  color: #555;
  margin-bottom: 20px;
}

.invoice-box table {
  width: 100%;
  line-height: inherit;
  text-align: left;
}

.invoice-box table td {
  padding: 5px;
  vertical-align: top;
}

.invoice-box table tr td:nth-child(2) {
  text-align: right;
}

.top {
  text-align: right;
}

.invoice-box table tr.top table td {
  padding-bottom: 20px;
}

.invoice-box table tr.top table td.title {
  font-size: 45px;
  line-height: 45px;
  color: #333;
}

.invoice-box table tr.information table td {
  padding-bottom: 40px;
}

.invoice-box table tr.heading td {
  background: #eee;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
}

.invoice-box table tr.details td {
  padding-bottom: 20px;
}

.invoice-box table tr.item td {
  border-bottom: 1px solid #eee;
}

.invoice-box table tr.item.last td {
  border-bottom: none;
}

.total {
  font-weight: bold;
  float: right;
  margin-top: 10px;
}

.value-center {
  text-align: center;
}

.capture-area {
  text-align: center;
  margin: 30px 0;

  h3 {
    margin-bottom: 30px;
  }

  .capture-price {
    font-weight: bold;
    margin: 30px 0;
  }
}

.success-icon {
  margin: 50px 0;
  margin-left: calc(50% - 75px / 2);
  height: 75px;
  width: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 50%;
}

@media only screen and (max-width: 760px) {
  .invoice-box {
    padding: 0;
    margin-bottom: 50px;
  }

  .col {
    padding: 10px;
  }

  .card {
    padding: 0;
  }

  .card-body {
    padding: 0;
  }

  .invoice-box table tr.top table td {
    width: 100%;
    display: block;
  }
}

/** RTL **/
.invoice-box.rtl {
  direction: rtl;
  font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial,
    sans-serif;
}

.invoice-box.rtl table {
  text-align: right;
}

.invoice-box.rtl table tr td:nth-child(2) {
  text-align: left;
}
