// ===============================================================================================
//  File Name: home-base.scss
//  Description: SCSS Layout for landing page (Home)
// ================================================================================================

@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/mixins';
@import '../bootstrap-extended/mixins';

// Core variables and mixins overrides
@import '../core/variables/variables';
@import '~bootstrap/scss/_variables.scss';

@import '../core/variables/components-variables';

// all home sections (arguments and technologies
.home-card {
  width: 70% !important;
  margin-left: 15%;
}

// arguments section
.home-section {
  margin-bottom: 70px;
}

// technologies information section
.tech-section {
  background-color: #f0f8ff;
}

// Headings of sections
.home-heading-card {
  padding-top: 30px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;

  p {
    font-size: 16px;
    line-height: 150%;
  }
}

// reset margin of each part
.row {
  margin-right: 0px;
  margin-left: 0px;
  width: 100%;

  .card {
    width: 100%;
  }
}

// layout for cards in tech esction
.home-rows-card {
  display: flex;
  align-items: center;
  border: solid 0.5px lightgray;
  border-radius: 1rem;
  width: 100%;
  background-color: white;

  img {
    float: left;
  }
  div {
    width: 70%;
  }
}

// to switch position of the image to right side
.float-right {
  flex-direction: row-reverse;
}

// link to articles
.link-more {
  color: $primary;
}

// images in sections cards
.home-img {
  box-shadow: 10px 10px 5px #ccc;
  border-radius: 25%;
}

.home-img:hover {
  opacity: 0.5;
}

// closing image section with phrase
.home-closing {
  display: flex;
  height: 33vh;
  overflow: hidden;
}

.closing-img {
  position: relative;
  object-fit: cover;
  filter: brightness(70%);
  width: 100%;
  height: 100%;
}

.closing-phrase {
  position: absolute;
  text-align: center;
  left: 30%;
  top: 30%;

  h2 {
    color: white;
    margin-bottom: 30px;
  }
}

// layout for mobile
@media only screen and (max-width: 600px) {
  .home-rows-card {
    flex-direction: column;
    margin: 5%;
    width: 90% !important;
    padding: 5px;
  }

  .closing-phrase {
    left: 10%;
  }

  .closing-img {
    filter: brightness(50%);
  }
}
