// ================================================================================================
// 	File Name: send-tokens.scss
// 	Description: SCSS file for the layout of the sending payment page
// ================================================================================================

// Core variables and mixins
@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/mixins';
@import '../bootstrap-extended/mixins';

// Load variable overrides
@import '../core/variables/variables';
@import '~bootstrap/scss/_variables.scss';

// Overrides user variable
@import '../core/variables/components-variables';

// wrapper card for component
.send-tokens-card {
  text-align: center;
  width: 60%;
  margin-left: 20%;
  overflow: hidden;
  h2 {
    padding: 20px 0;
    background-color: $primary;
    color: white;
  }
}

// all input elements
.send-input {
  width: 70%;
  margin-left: 15%;
  text-align: center;
}

// send button
.payment-buttons-container {
  Button {
    margin-left: 20px;
  }
}

// dialog on send
.modal-dialog-centered {
  overflow-wrap: break-word;
}

// layout for smaller devices
@media (max-width: 515px) {
  .payment-buttons-container {
    Button {
      margin-top: 10px;
    }
  }
}

@media (max-width: 1200px) {
  .send-tokens-card {
    width: 100%;
    margin: 0;
  }

  .send-input {
    width: 90%;
    margin-left: 5%;
  }
}
