// ================================================================================================
// 	File Name: transaction.scss
// 	Description: SCSS file for the layout of a single transaction
// ================================================================================================

// Core variables and mixins
@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/mixins';
@import '../bootstrap-extended/mixins';

// Load variable overrides
@import '../core/variables/variables';
@import '~bootstrap/scss/_variables.scss';

// Overrides user variable
@import '../core/variables/components-variables';

// page wrapper
.transaction-page {
  padding: 2.2rem;

  .recipient-info,
  .company-info,
  .company-contact,
  .recipient-contact {
    p {
      line-height: 2;
      margin-bottom: 0;
    }
  }

  .transaction-items-table,
  .transaction-total-table {
    table {
      border: 2px solid $body-bg;
    }
  }
}

// media query for print
@media print {
  body {
    visibility: hidden;
  }
  .main-menu,
  .header-navbar-shadow,
  .header-navbar,
  .content-header,
  .transaction-header {
    display: none;
  }
  .transaction-page {
    visibility: visible;
    background: black;
  }
  .content-wrapper,
  .app-content,
  .transaction-page,
  .card-body,
  .transaction-wrapper {
    padding: 0;
    margin: 0;
  }
}
@page {
  //  margin for print page
  margin: 0;
  padding: 0;
}

// layout for mobile
@media only screen and (max-width: 600px) {
  .transaction-page {
    padding: 0;
  }

  .transaction-header {
    button {
      display: none;
    }
  }
}
