.highlight-code {
  font-style: italic;
  background-color: rgba(0, 0, 0, 0.05);
}

h2 {
  margin-top: 100px;
}

h3 {
  margin-top: 30px;
}

table {
  border: 1px solid;
  border-radius: 5px;
}

.images-container {
  display: flex;
  justify-content: space-around;
}

.image-container {
  text-align: center;
}

.image-container p {
  margin-top: -20px;
}

@media only screen and (max-width: 600px) {
  .images-container {
    flex-direction: column;
  }
}
